﻿@using Microsoft.Web.Helpers
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Template Project MVC web helper playground</h2>

<table>
<tr><td>Gravatar</td><td>@Gravatar.GetHtml("mstatz@gmail.com")</td></tr>
<tr><td>Twitter Profile</td><td>@Twitter.Profile("mstatz")</td></tr>
<tr><td>Twitter Follow Button</td><td>@Twitter.FollowButton("mstatz")</td></tr>
<tr><td>Facebook Like Button</td><td>@Facebook.LikeButton()</td></tr>
<tr><td>Bing Search Box</td><td>@Bing.SearchBox(boxWidth: "250px", siteTitle: "Template Project", siteUrl: Url.Action("Index"))</td></tr>
<tr><td>ReCaptcha</td><td>@ReCaptcha.GetHtml(publicKey: "6LcX-8cSAAAAAODY6NtodM9R9oa3uTo8lbutdVIY")</td></tr>
<tr><td>File Upload</td><td>@FileUpload.GetHtml(name: "fileUploader")</td></tr>
<tr><td>Gamer Card</td><td>@GamerCard.GetHtml("nucleoid")</td></tr>
<tr><td>Link Share</td><td>@LinkShare.GetHtml("Index")</td></tr>
<tr><td>Video - Flash</td><td>@Video.Flash(Url.Content("/Content/flash/htf.swf"), play: false)</td></tr>
<tr><td></td><td></td></tr>
</table>


