﻿@using Microsoft.Web.Helpers
@using TemplateProject.Web.Mvc.Areas.Admin.Models
@using TemplateProject.Web.Mvc.Extensions
@model ProductEditViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h3>@ViewBag.CategoryError</h3>

@using (Html.BeginForm("Edit", "Products"))
{
    <text>
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.Product.Name)
    <div>@Html.TextBoxFor(x => x.Product.Name) @Html.ValidationMessageFor(x => x.Product.Name)</div>

    @Html.LabelFor(x => x.Product.DefaultAvailability)
    <div>@Availability.Online.ToString() @Html.RadioButtonFor(x => x.Product.DefaultAvailability, Availability.Online)
    @Availability.Store.ToString() @Html.RadioButtonFor(x => x.Product.DefaultAvailability, Availability.Store)
    @Availability.ThirdParty.ToString() @Html.RadioButtonFor(x => x.Product.DefaultAvailability, Availability.ThirdParty)  @Html.ValidationMessageFor(x => x.Product.DefaultAvailability)</div>

    @Html.LabelFor(x => x.Product.MultipleAvailability)
    <div>@FlaggedAvailability.Online.ToString() @Html.CheckBoxWithValue("MultipleAvailabilities", FlaggedAvailability.Online)
    @FlaggedAvailability.Store.ToString() @Html.CheckBoxWithValue("MultipleAvailabilities", FlaggedAvailability.Store)
    @FlaggedAvailability.ThirdParty.ToString() @Html.CheckBoxWithValue("MultipleAvailabilities", FlaggedAvailability.ThirdParty)
    @Html.HiddenFor(x => x.Product.MultipleAvailability)
    </div>

    @Html.LabelFor(x => x.Product.Category)
    <div>@Html.DropDownListFor(m => m.SelectedCategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select a Category")  @Html.ValidationMessageFor(x => x.SelectedCategoryId)</div>

    <div>@ReCaptcha.GetHtml(publicKey: "6LcX-8cSAAAAAODY6NtodM9R9oa3uTo8lbutdVIY") @Html.ValidationMessage("ReCaptcha")</div>

    <input type="submit" value = "Create Product" />
    </text>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('form').one('submit', function (e) {
            e.preventDefault();
            var multiChecked = $("[name='MultipleAvailabilities']:checked").map(function () { return this.value; }).get().join(',');
            $('#Product_MultipleAvailability').val(multiChecked);
            $(this).submit();
        });
    });
</script>