@model Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Edit", "Products"))
{
    <text>
    @Html.AntiForgeryToken()
    @Html.Hidden("Id", Model.Id)<br />
    Name: @Html.TextBox("Name", Model.Name)<br />
    <input type="submit" value = "Create Product" />
    </text>
}