@using MvcContrib.UI.Grid
@model IList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@(Html.ActionLink<ProductsController>(x => x.Create(), "Create New Product"))

@Html.Grid(Model).Columns(column =>
{
    column.For(p => p.Id).Named("ID");
    column.For(p => p.Name);
    column.For(p => p.Created).Named("Created");
    column.For(p => p.Modified).Named("Modified");
    column.For(p => Html.ActionLink<CategoriesController>(x => x.Details(p.Category.Id), p.Category.Name)).Named("Category");
    column.For(p => Html.ActionLink<ProductsController>(x => x.Edit(p.Id), "edit")).Named(string.Empty);
}).Empty("No Products")
